table,
th,
td {
    border: solid black 1px;
    border-radius: 5px;
}

th,
td {
    background-color: aqua;
}

table {
    max-width: 100%;
    max-height: 100%;
}

th:hover, td:hover {
    background-color: black;
    color: aqua;
}

table:hover, th:hover, td:hover{
    border-color: red;
}